= form_tag user_sessions_path, :method => :post, :class => "login form" do |f|
  %fieldset
    %legend
      %span
        Login
    %ul
      %li
        = label_tag "user[username]", "Username"
        = text_field_tag "user[username]"
  %fieldset
    - submit_button "Login"