- form_for @user_session, :url => user_sessions_path, :html => { :method => :post, :class => "login form" } do |f|
  %fieldset
    %legend
      %span
        Login
    %ul
      %li
        = f.label :username, "Username"
        = f.text_field :username
  %fieldset
    - submit_button "Login"